{% extends "base.html" %}
{% block content %}
    <p>Agregrar Dispositivo</p>

    {% if disp.getId is not None %}
        <h2>Se encontró el dispositivo</h2>
        <p>{{ disp.getId }}</p>
        <p>{{ disp.getTitle }}</p>
        <p>{{ disp.getDescription }}</p>
        <p>{{ disp.getConceptos }}</p>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{ form.idDispositivo.as_hidden }}
                <button type="submit">Agregar</button>
            </form>
        </div>


    {% else %}
        <h2>El dispositivo no existe</h2>
    {% endif %}


{% endblock %}