{% extends 'base.html' %}

{% block content %}

<div id="wrapper" class="active">
    <!-- Sidebar -->
    {% include 'navBar.html' %}
    <!-- Fin Navbar -->

    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <ul class="list-group p-5">
                <li class="list-group-item">
                    <div class="text-center font-weight-bold display-4">
                        <h1>Agregar Dispositivo</h1>
                    </div>
                </li>
                <li class="list-group-item ">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault01">Buscar dispositivo existente:</label>
                                        <div class="row">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <div class="col">
                                                    <input name="id" type="text" class="form-control"
                                                        id="validationDefault01" placeholder="ID" value="" required>
                                                </div>
                                                <div class="col-md-auto">
                                                    <button type="submit"
                                                        class="btn btn-outline-primary" name="button" formmethod="post">Buscar</button>
                                                </div>
                                            </form>
                                            <div class="col col-lg-2">
                                                {% if messages %}
                                                {% for message in messages %}
                                                <div class="alert alert-{{ message.tags }}">
                                                    {{ message }}
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <label for="">Crear un nuevo dispositivo:</label>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <button type="button" class="btn btn-outline-primary"
                                            name="Crear" onclick="location.href='{% url 'crear' %}'" >Crear</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}