{% extends 'base.html' %}

{% block content %}
<div id="wrapper" class="active">
    <!-- Navbar -->
    {% include 'navBar.html' %}
    <!-- Fin Navbar -->

    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="fondo"></div>
            <ul class="list-group p-5">
                <li class="list-group-item">
                    <div class="text-center font-weight-bold display-4">
                        <h1>Agregar Dispositivo</h1>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campos</h5>
                            <form>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault01">ID</label>
                                        <input type="text" class="form-control" id="validationDefault01"
                                            placeholder="ID" value="ID" required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault02">Titulo</label>
                                        <input type="text" class="form-control" id="validationDefault02"
                                            placeholder="Titulo" value="Titulo" required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault01">IP</label>
                                        <input type="text" class="form-control" id="validationDefault03"
                                            placeholder="IP" value="IP" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <label for="validationDefault03">Localizacion</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <input type="text" class="form-control" id="validationDefault04"
                                            placeholder="Latitud" value="Latitud" required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <input type="text" class="form-control" id="validationDefault05"
                                            placeholder="Longitud" value="Longitud" required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <input type="text" class="form-control" id="validationDefault06"
                                            placeholder="Altitud" value="Altitud" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="DescripcionDisp">Descripcion</label>
                                    <textarea class="form-control" id="DescripcionDisp" rows="3"></textarea>
                                </div>
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}