{% extends 'base.html' %}
{% load navBarTags %}
{% block content %}
<div id="wrapper" class="active">
    <!-- Sidebar -->
    {% listarDispositivos %}
    {% include 'navBar.html' with dispositivos=dispositivos %}

    <!-- Fin Navbar -->

    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="fondo"></div>
            <div class="wizard-container">
                <div class="container cont-principal">
                    <div class="card wizard-card justify-content-center">
                        <div class="div-principal">
                            <h1 class="text-center pb-5"> ESTADO </h1>
                            <h5 class="card-title">Estado del dispositivo <b>NOMBRE DEL DISPOSITIVO</b></h5>
                            <div class="card-columns">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <div class="row">
                                                <div class="col-8">Dispositivo 1</div>
                                                <div class="col-4">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch1">
                                                        <label class="custom-control-label" for="customSwitch1"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </h5>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <label for="valor">Valor:</label>
                                                <div class="col-sm" id="valor">
                                                    <p><b>27º C</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <div class="row">
                                                <div class="col-8">Dispositivo 2</div>
                                                <div class="col-4">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch2">
                                                        <label class="custom-control-label" for="customSwitch2"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </h5>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <label for="valor">Valor:</label>
                                                <div class="col-sm" id="valor">
                                                    <p><b>ON</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <div class="row">
                                                <div class="col-8">Dispositivo 3</div>
                                                <div class="col-4">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch3">
                                                        <label class="custom-control-label" for="customSwitch3"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </h5>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <label for="valor">Valor:</label>
                                                <div class="col-sm" id="valor">
                                                    <p><b>27º C</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}