{% extends 'base.html' %}

{% block content %}

<div id="wrapper" class="active">
    <!-- Sidebar -->
    {% include 'navBar.html' %}
    <!-- Fin Navbar -->

    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="fondo"></div>
            <div class="wizard-container">
                <div class="container cont-principal">
                    <div class="card wizard-card justify-content-center">
                        <div class="div-principal">
                            <h1 class="text-center pb-5">Escenario de interaccion semantica</h1>
                            <h5 class="text-center">CLIPBIO</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                text ever since the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has survived not only five
                                centuries, but also the leap into electronic typesetting, remaining
                                essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with
                                desktop publishing software like Aldus PageMaker including versions of Lorem
                                Ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}