{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<div class="fondo"></div>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card" style="height: 580px">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="{% static 'img/logoClipio.png' %}" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" class="form-control input_user" required
                            placeholder="Usuario">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="first_name" class="form-control input_user" required
                            placeholder="Nombre">
                    </div>
                    <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="last_name" class="form-control input_user" required
                                placeholder="Apellido">
                    </div>
                    
                    <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input required type="text" name="email" id = "email"  onchange="email_validate(this.value);" class="form-control input_user"
                             placeholder="email"/>
                             <div class="status" id="status"></div>
                            
                    </div>

                    <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" id="password" name="password1" class="form-control input_pass" value=""
                                placeholder="Contraseña" required="">
                        </div>
                        <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input required name="password2" type="password" class="form-control inputpass" minlength="6" maxlenght="14" placeholder="Ingrese de nuevo la contraseña"  id="pass2" onkeyup="checkPass(); return false;" />
                                <span id="confirmMessage" class="confirmMessage"></br></span>

                            </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" name="button" class="btn login_btn">Registrar</button>
                    </div>
                </form>
            </div>
            
          
            <div class="justify-content-center mt-3 login_container " style="width:70%;margin-left: 50px">
                    <button type="" name="button" class="btn login_btn">Regresar</button>
                </div>
                <div class="d-flex justify-content-center mt-3 login_container">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                </div>
        </div>

       

    </div>

</div>




</div>

{% endblock %}

