{% extends 'base.html' %}
{% load navBarTags %}
{% block content %}

<div id="wrapper" class="active">
    {% listarDispositivos %}
    {% include 'navBar.html' with dispositivos=dispositivos %}

    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="fondo"></div>
            <div class="wizard-container">
                <div class="container cont-principal">
                    <div class="card wizard-card justify-content-center">
                        <div class="div-principal">
                            <h1 class="text-center">Agregar Dispositivo</h1>
                            <form>
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault01">Buscar dispositivo existente:</label>
                                        <div class="row">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <div class="col">
                                                    <input name="id" type="text" class="form-control inputs"
                                                        id="validationDefault01" placeholder="ID" value="" required>
                                                </div>
                                                <div class="col-md-auto">
                                                    <button type="submit" class="btn btn-outline-primary" name="button"
                                                        formmethod="post">Buscar</button>
                                                </div>
                                            </form>
                                            <div class="row">
                                                {% if messages %}
                                                {% for message in messages %}
                                                <div class="alert alert-{{ message.tags }}">
                                                    {{ message }}
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">Crear un nuevo dispositivo:</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <button type="button" class="btn btn-outline-primary" name="Crear"
                                            onclick="location.href='{% url 'crear' %}'">Crear</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}