{% extends 'base.html' %}
{% load navBarTags %}
{% block content %}
<div id="wrapper" class="active">
    <!-- Sidebar -->
    {% listarDispositivos %}
    {% include 'navBar.html' with dispositivos=dispositivos %}

    <!-- Fin Navbar -->

    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="fondo"></div>
            <div class="wizard-container">
                <div class="container cont-principal">
                    <div class="card wizard-card justify-content-center">
                        <div class="div-principal">
                            <h1 class="text-center"> {{ nombre }}</h1>
                            {% if mensaje == "" %}
                                {% if not diccionario %}
                            <h5 class=text-center>No se encontró el dispositivo</h5>
                                {% else %}
                                <h5 class="text-center">Estado de los sensores y actuadores </h5>
                                <div class="card-deck">
                                    {% for key, values in diccionario.items %}
                                    <div class="col-sm-4 py-2">
                                        <div class="card h-100 margen-cartas">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <div class="row">
                                                        <div class="col-sm"><h4> {{ key }} </h4></div>
                                                        {% if values.0 == 'bool' %}
                                                        <div class="col-sm">
                                                            <div class="custom-control custom-switch" id=contenedor{{ key }}>
                                                                {% if values.1 == '1' %}
                                                                <input type="checkbox" class="custom-control-input"
                                                                    onclick="handlerActuador(this, '{{ ipDispositivo }}', '{{ idDispositivo }}')" id={{ key }} name={{ key }} checked>
                                                                {% else %}
                                                                <input type="checkbox" class="custom-control-input"
                                                                    onclick="handlerActuador(this, '{{ ipDispositivo }}', '{{ idDispositivo }}')" id={{ key }} name={{ key }}>
                                                                {% endif %}
                                                                <label class="custom-control-label"
                                                                    for={{ key }}></label>
                                                            </div>
                                                        </div>
                                                        {% else%}
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <label for="valor">Valor:</label>
                                                                </div>
                                                                <div class="col-sm" id="valor">
                                                                    <p><b>{{ values.1 }}</b></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    </div>
                                    <div class="container boton-footer">
                                            <div class="row mr-4 justify-content-end">
                                                <button onclick="location.href='{% url 'infoDispositivo' idDispositivo %}'" class="btn btn-primary btn-lg" >Ver informacion del dispositivo</button>
                                            </div>
                                    </div>
                                {% endif %}
                            {% else%}
                                <form method="POST">
                                {% csrf_token %}
                                <div class="container">
                                    <div class="row m-4 ">
                                        <div class="col col-4">
                                                <input name="ipDispositivo" type="text" class="form-control inputs"
                                                 placeholder="Nueva IP" required>
                                        </div>
                                        <div class="col  col-6"><button type="submit" class="btn btn-outline-primary" name="btnIP">Cambiar Ip</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h5 class="card-title">{{ mensaje }},Ingrese una nueva ip </h5>
                                    </div>
                                </div>
                                </form>
                                <div class="div-principal">
                                    <div class="row">
									    <div class="col-md-4 mb-3">
											<label for="validationDefault01">ID</label>
											<p class="form-control inputs">{{ infoBasica.getId }}</p>
                                        </div>
                                        <div class="col-md-4 mb-3">
											<label for="validationDefault02">Titulo</label>
                                            <p class="form-control inputs">{{ infoBasica.getTitle }}</p>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationDefault02">IP</label>
										    <p class="form-control inputs">{{ ipDispositivo }}</p>
                                        </div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<label for="validationDefault03">Localizacion</label>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4 mb-3">
                                                    <label for="validationDefault02">Latitud</label>
													<p class="form-control inputs">{{ infoBasica.getLocation.lat }}</p>
												</div>

												<div class="col-md-4 mb-3">
                                                    <label for="validationDefault02">Longitud</label>
													<p class="form-control inputs">{{ infoBasica.getLocation.lon }}</p>
												</div>

												<div class="col-md-4 mb-3">
                                                    <label for="validationDefault02">Elevacion</label>
													<p class="form-control inputs">{{ infoBasica.getLocation.ele }}</p>
												</div>
											</div>

											<div class="form-group">
												<label for="DescripcionDisp">Descripcion</label>
												<p class="form-control inputs">{{ infoBasica.getDescription }}</p>
											</div>
										</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}