{% extends 'base.html' %}
{% load navBarTags %}
{% block content %}
{% load exampleTags %}

<div
	id="wrapper"
	class="active"
>
	<!-- Navbar -->
	{% listarDispositivos %}
	{% include 'navBar.html' with dispositivos=dispositivos %}

	<!-- Fin Navbar -->
	<!-- Page content -->

	<div id="page-content-wrapper">
		<!-- Keep all page content within the page-content inset div! -->

		<div class="page-content inset">
			<div class="fondo"></div>

			<div class="wizard-container">
				<div class="container cont-principal">
					<div
						class="card wizard-card"
						id="wizard"
					>
						{% if disp.getId is not None %}

						<div class="stepwizard">
							<div class="stepwizard-row setup-panel">
								<div class="stepwizard-step">
									<a
										href="#step-1"
										type="button"
										class="btn btn-primary btn-circle"
									>General</a>
								</div>

								<div class="stepwizard-step">
									<a
										href="#step-2"
										type="button"
										class="btn btn-default btn-circle"
										disabled="disabled"
									>Tags</a>
								</div>

								<div class="stepwizard-step">
									<a
										href="#step-3"
										type="button"
										class="btn btn-default btn-circle"
										disabled="disabled"
									>Datastreams</a>
								</div>
							</div>
						</div>

						<form method="POST">
							{% csrf_token %}

							<div
								class="row setup-content justify-content-center"
								id="step-1"
							>
								<div class="col-xs-12">
									<div class="col-md-12">
										<h3 class="text-center">INFORMACION GENERAL</h3>

										<!-- content go here -->

										<div class="div-principal">
											<div class="row">
												<div class="col-md-4 mb-3">
													<label for="validationDefault01">ID</label>

													<input
														type="text"
														class="form-control inputs"
														name="idDispositivo"
														id="validationDefault01"
														placeholder="ID"
														value="{{ disp.getId }}"
														required="required"
													></input>
												</div>

												<div class="col-md-4 mb-3">
													<label for="validationDefault02">Titulo</label>

													<input
														type="text"
														class="form-control inputs"
														name="titulo"
														id="validationDefault02"
														placeholder="Titulo"
														value="{{ disp.getTitle }}"
														required="required"
													></input>
												</div>

												{% if ipDisp %}

												<div class="col-md-4 mb-3">
													<label for="validationDefault01">IP:</label>

													<label for="validationDefault01">{{ ipDisp }}</label>
												</div>

												{% endif %}
											</div>

											<div class="row">
												<div class="col-md-4">
													<label for="validationDefault03">Localizacion</label>
												</div>
											</div>

											<div class="row">
												<div class="col-md-4 mb-3">
													<input
														type="text"
														class="form-control inputs"
														name="localizacionLatitud"
														id="validationDefault04"
														placeholder="Latitud"
														value="{{ disp.getLocation.lat }}"
														required="required"
													></input>
												</div>

												<div class="col-md-4 mb-3">
													<input
														type="text"
														class="form-control inputs"
														name="localizacionLongitud"
														id="validationDefault05"
														placeholder="Longitud"
														value="{{ disp.getLocation.lon }}"
														required="required"
													></input>
												</div>

												<div class="col-md-4 mb-3">
													<input
														type="text"
														class="form-control inputs"
														name="localizacionElevacion"
														id="validationDefault06"
														placeholder="Elevacion"
														value="{{ disp.getLocation.ele }}"
														required="required"
													></input>
												</div>
											</div>

											<div class="form-group">
												<label for="DescripcionDisp">Descripcion</label>

												<textarea
													class="form-control"
													id="exampleFormControlTextarea1"
													name="descripcion"
													rows="3"
												>{{ disp.getDescription }}</textarea>
											</div>
										</div>

										<div class="container boton-footer">
											<div class="row justify-content-end">
												<button
													class="btn btn-danger nextBtn"
													type="button"
												>Siguiente</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div
								class="row setup-content justify-content-center"
								id="step-2"
							>
								<div class="col-xs-12">
									<div class="col-md-12">
										<h3 class="text-center">Tags</h3>

										<!-- content go here -->

										<div
											id="tags"
											class="div-principal"
										>
											<div class="form-row">
												<div class="col col-6 col-md-3">
													<div class="row col-md-4 mb-3">
														<label for="validationDefault01">Entidad</label>
													</div>
												</div>

												<div class="col col-12 col-md-8">
													<div class="row">
														<div class="col-md-6 mb-3">
															<input
																type="text"
																class="form-control inputs"
																name="tagEntidadEsp"
																id="validationDefault05"
																placeholder="Español"
																value="{{ disp.getTags.0 }}"
																required="required"
															></input>
														</div>

														<div class="col-md-6 mb-3">
															<input
																type="text"
																class="form-control inputs"
																name="tagEntidadIng"
																id="validationDefault05"
																placeholder="English"
																value="{{ disp.getTags.1 }}"
																required="required"
															></input>
														</div>
													</div>
												</div>
											</div>

											<div class="form-row">
												<div class="col col-6 col-md-3">
													<div class="row col-md-4 mb-3">
														<label for="validationDefault01">Funcionalidad</label>
													</div>
												</div>

												<div class="col col-12 col-md-8">
													<div class="row">
														<div class="col-md-6 mb-3">
															<input
																type="text"
																class="form-control inputs"
																name="tagFuncionalidadEsp"
																id="validationDefault05"
																placeholder="Español"
																value="{{ disp.getTags.2 }}"
																required="required"
															></input>
														</div>

														<div class="col-md-6 mb-3">
															<input
																type="text"
																class="form-control inputs"
																name="tagFuncionalidadIng"
																id="validationDefault05"
																placeholder="English"
																value="{{ disp.getTags.3 }}"
																required="required"
															></input>
														</div>
													</div>
												</div>
											</div>

											<div class="form-row">
												<div class="col col-6 col-md-3">
													<div class="row col-md-4 mb-3">
														<label for="validationDefault01">Nombre</label>
													</div>
												</div>

												<div class="col col-12 col-md-8">
													<div class="row">
														<div class="col-md-6 mb-3">
															<input
																type="text"
																class="form-control inputs"
																name="tagNombreEsp"
																id="validationDefault05"
																placeholder="Español"
																value="{{ disp.getTags.4 }}"
																required="required"
															></input>
														</div>

														<div class="col-md-6 mb-3">
															<input
																type="text"
																class="form-control inputs"
																name="tagNombreIng"
																id="validationDefault05"
																placeholder="English"
																value="{{ disp.getTags.5 }}"
																required="required"
															></input>
														</div>
													</div>
												</div>
											</div>

											{% with contador=1 %}
											{% if disp.getPersonalizedTags %}
											{% for tags in disp.getPersonalizedTags %}

											<div
												class="form-row"
												id="formTag{{contador}}"
											>
												<div class="col col-6 col-md-3">
													<div class="row col-md-4 mb-3">
														<button
															id="eliminarTag"
															type="button"
															onclick="eliminarTag(this)"
															class="rounded-circle btn btn-outline-danger"
														>-</button>
													</div>
												</div>

												<div class="col col-12 col-md-8">
													<div class="row">
														<div class="col-md-6 mb-3">
															<input
																type="text"
																class="form-control inputs"
																id="inputTagEspañol"
																placeholder="Español"
																value="{{ tags.0 }}"
															></input>
														</div>

														<div class="col-md-6 mb-3">
															<input
																type="text"
																class="form-control inputs"
																id="inputTagIngles"
																placeholder="English"
																value="{{ tags.1 }}"
															></input>
														</div>
													</div>
												</div>
											</div>

											{{ contador.as_hidden|add:1 }}
											{% endfor %}
											{% endif %}

											<input
												id="contadorTags"
												type="hidden"
												value="{{ contador }}"
											></input>

											{% endwith %}

											<div class="form-row">
												<div class="col col-6 col-md-3">
													<div class="row col-md-4 mb-3">
														<button
															id="agregarTag"
															type="button"
															onclick="agregar()"
															class="rounded-circle btn btn-outline-success"
														>+</button>
													</div>
												</div>

												<div class="col col-12 col-md-8">
													<div class="row">
														<div class="col-md-6 mb-3">
															<input
																type="text"
																class="form-control inputs"
																id="tagEspañol"
																placeholder="Español"
															></input>
														</div>

														<div class="col-md-6 mb-3">
															<input
																type="text"
																class="form-control inputs"
																id="tagIngles"
																placeholder="English"
															></input>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="container boton-footer">
											<div class="row justify-content-end">
												<button
													class="btn btn-danger nextBtn"
													type="button"
												>Siguiente</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div
								class="row setup-content justify-content-center"
								id="step-3"
							>
								<div class="col-xs-12">
									<div class="col-md-12">
										<h3 class="text-center">Datastreams</h3>

										<!-- content go here -->
										{% if disp.getPersonalizedDataStreams %}
                                        {% for datastreams in disp.getPersonalizedDataStreams %}

										<div class="div-principal">
											<div class="form-row">
												<div class="col mb-3">
													<label for="validationDefault01">Nombre</label>

													<input
														type="text"
														class="form-control inputs"
														name="dsNombre"
														id="validationDefault01"
														placeholder="Nombre"
														value="{{ datastreams.datastream_id }}"
														required="required"
													></input>
												</div>
											</div>

											<div class="form-row">
												<div class="col-md-4 mb-3">
													<label for="validationDefault02">Valor Maximo</label>

													<input
														type="text"
														class="form-control inputs"
														name="dsValorMin"
														id="validationDefault02"
														placeholder="Valor Maximo"
														value="{{ datastreams.max_value }}"
														required="required"
													></input>
												</div>

												<div class="col-md-4 mb-3">
													<label for="validationDefault03">Valor Minimo</label>

													<input
														type="text"
														class="form-control inputs"
														name="dsValorMax"
														id="validationDefault03"
														placeholder="Valor Minimo"
														value="{{ datastreams.min_value }}"
														required="required"
													></input>
												</div>
											</div>

											<div class="form-row">
												<div class="col col-6 col-md-3">
													<label for="validationDefault04">Unidad</label>
												</div>
											</div>

											<div class="form-row">
												<div class="col-md-4 mb-3">
													<input
														type="text"
														class="form-control inputs"
														name="dsUnidad"
														id="validationDefault05"
														placeholder="Símbolo"
														value="{{ datastreams.unit.symbol }}"
														required="required"
													></input>
												</div>

												<div class="col-md-4 mb-3">
													<input
														type="text"
														class="form-control inputs"
														name="dsEtiqueta"
														id="validationDefault06"
														placeholder="Etiqueta"
														value="{{ datastreams.unit.label }}"
														required="required"
													></input>
												</div>

												<div class="col-md-4 mb-3">
													<input
														type="text"
														class="form-control inputs"
														name="dsTipo"
														id="validationDefault07"
														placeholder="Tipo"
														value="{{ datastreams.datastream_type }}"
														required="required"
													></input>
												</div>
											</div>

											<div class="form-row">
												<div
													class="container border rounded-lg"
													id="tagsDataStream0"
												>
													<div class="row">
														<div class="col-md-4 mb-3">
															<label>Añadir Tags</label>
														</div>
													</div>

													<div class="row">
														<div class="col col-6 col-md-1">
															<div class="row col-md-4 mb-3">
																<button
																	type="button"
																	id="buttonAgregarTagDataStream0"
																	onclick="agregarTagDataStream(this)"
																	class="rounded-circle btn btn-outline-success"
																>+</button>
															</div>
														</div>

														<div class="col col-12 col-md-8">
															<div class="row">
																<div class="col-md-6 mb-3">
																	<input
																		type="text"
																		class="form-control inputs"
																		id="inputTagDataStreamEspanol0"
																		placeholder="Español"
																	></input>
																</div>

																<div class="col-md-6 mb-3">
																	<input
																		type="text"
																		class="form-control inputs"
																		id="inputTagDataStreamIngles0"
																		placeholder="English"
																	></input>
																</div>
															</div>
														</div>
													</div>
														
													{% with contador1=0 %}
												
													
													{% for tag in datastreams.tags %}
													<h1>{{contador1}}</h1>
													<div class="row" id="Tag{{contador1}}DataStream{{contador1}}">
														<div class="col col-6 col-md-1">
															<div class="row col-md-4 mb-3">
																<button onclick="eliminarTagDataStream(this)" id="buttonTag{{contador1}}DataStream{{contador1}}" "type="button" class="rounded-circle btn btn-outline-danger">-</button>
															</div>
														</div>
														<div class="col col-12 col-md-8">
															<div class="row">
																<div class="col-md-6 mb-3">
																	<input type="text" class="form-control inputs" id="inputEspanolTag1DataStream0" name="inputEspanolTag1DataStream0" value="{{ tag.0}}" placeholder="Español" required="">
																</div>
																<div class="col-md-6 mb-3">
																	<input type="text" class="form-control inputs" id="inputInglesTag1DataStream0" name="inputInglesTag1DataStream0" value="{{ tag.1}}" placeholder="English" required="">
																</div>
															</div>
														</div></div>
													
													
													{{ contador1|add:1 }}


													{% endfor %}
												

													<input
														id="contadorTags"
														type="hidden"
														value="{{ contador1 }}"
													></input>

													{% endwith %}
												</div>
											</div>

											<div class="container p-3">
												<div class="row justify-content-end">
													<button
														type="button"
														class="btn btn-outline-secondary"
													>
														Añadir otro
														datastream
													</button>
												</div>
											</div>
										</div>

										{% endfor %}
                                        {% endif %}

										<div class="container boton-footer">
											<div class="row justify-content-end">
												<button
													class="btn btn-danger nextBtn"
													type="submit"
												>Descargar JSON</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>

						{% if not ipDisp %}

						<form method="POST">
							{% csrf_token %}

							<input
								id="machetazo"
								name="idDisp"
								type="hidden"
								value="{{ disp.getId }}"
							></input>

							<div class="container boton-footer">
								<div class="row justify-content-end">
									<button
										class="btn btn-danger nextBtn"
										type="submit"
									>Agregar</button>
								</div>
							</div>
						</form>

						{% endif %}

						{% else %}

						<h2>El dispositivo no existe</h2>

						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}