{% extends 'base.html' %}
{% load navBarTags %}
{% block content %}

<div id="wrapper" class="active">
    <!-- Navbar -->
    {% listarDispositivos %}
    {% include 'navBar.html' with dispositivos=dispositivos %}

    <!-- Fin Navbar -->

    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="fondo"></div>
            <div class="wizard-container">
                <div class="container cont-principal">
                    <div class="card wizard-card" id="wizard">
                        <div class="stepwizard">
                            <div class="stepwizard-row setup-panel">
                                <div class="stepwizard-step">
                                    <a href="#step-1"  class="btn btn-danger btn-circle ">General</a>
                                </div>

                                <div class="stepwizard-step">
                                    <a href="#step-2"  class="btn btn-danger"
                                        disabled="disabled">Tags</a>
                                </div>

                                <div class="stepwizard-step">
                                    <a href="#step-3"  class="btn btn-danger"
                                        disabled="disabled">Datastreams</a>
                                </div>

                            </div>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row setup-content justify-content-center p-4" id="step-1">
                                <div class="col-xs-12">
                                    <div class="col-md-12">
                                        <h3 class="text-center">INFORMACIÓN GENERAL</h3>
                                        <!-- content go here -->
                                        <div class="div-principal">
                                            <div class="row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault01"><strong>ID</strong></label>
                                                    <input type="text" class="form-control inputs" name="idDispositivo"
                                                        id="validationDefault01" placeholder="ID" value="" required>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault02"><strong>Titulo</strong></label>
                                                    <input type="text" class="form-control inputs" name="titulo"
                                                        id="validationDefault02" placeholder="Titulo" value="" required>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault02"><strong>IP</strong></label>
                                                    <input type="text" class="form-control inputs" name="ip"
                                                        id="validationDefault02" placeholder="IP" value="" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="validationDefault03"><strong>Localizacion</strong></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 mb-3">
                                                    <input type="text" class="form-control inputs"
                                                        name="localizacionLatitud" id="validationDefault04"
                                                        placeholder="Latitud" value="" required>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <input type="text" class="form-control inputs"
                                                        name="localizacionLongitud" id="validationDefault05"
                                                        placeholder="Longitud" value="" required>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <input type="text" class="form-control inputs"
                                                        name="localizacionElevacion" id="validationDefault06"
                                                        placeholder="Elevacion" value="" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="DescripcionDisp"><strong>Descripcion</strong></label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                                    name="descripcion" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="container boton-footer">
                                            <div class="row justify-content-end">
                                                <button class="btn btn-danger nextBtn" type="button">Siguiente</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row setup-content justify-content-center p-4" id="step-2">
                                <div class="col-xs-12">
                                    <div class="col-md-12">
                                        <h3 class="text-center">Tags</h3>
                                        <!-- content go here -->
                                        <div id=tags class="div-principal">


                                            <div class="form-row">
                                                <div class="col col-6 col-md-3">
                                                    <div class="row col-md-4 mb-3">
                                                        <label for="validationDefault01"><strong>Entidad</strong></label>
                                                    </div>
                                                </div>
                                                <div class="col col-12 col-md-8">
                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <input type="text" class="form-control inputs"
                                                                name="tagEntidadEsp" id="validationDefault05"
                                                                placeholder="Español"  required>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <input type="text" class="form-control inputs"
                                                                name="tagEntidadIng" id="validationDefault05"
                                                                placeholder="English"  required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col col-6 col-md-3">
                                                    <div class="row col-md-4 mb-3">
                                                        <label for="validationDefault01"><strong>Funcionalidad</strong></label>
                                                    </div>
                                                </div>
                                                <div class="col col-12 col-md-8">
                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <input type="text" class="form-control inputs"
                                                                name="tagFuncionalidadEsp" id="validationDefault05"
                                                                placeholder="Español"  required>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <input type="text" class="form-control inputs"
                                                                name="tagFuncionalidadIng" id="validationDefault05"
                                                                placeholder="English" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col col-6 col-md-3">
                                                    <div class="row col-md-4 mb-3">
                                                        <label for="validationDefault01"><strong>Nombre</strong></label>
                                                    </div>
                                                </div>
                                                <div class="col col-12 col-md-8">
                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <input type="text" class="form-control inputs"
                                                                name="tagNombreEsp" id="validationDefault05"
                                                                placeholder="Español"  required>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <input type="text" class="form-control inputs"
                                                                name="tagNombreIng" id="validationDefault05"
                                                                placeholder="English" value="" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input id="contadorTags" type="hidden" value="0">
                                            <div class="form-row">
                                                <div class="col col-6 col-md-3">
                                                    <div class="row col-md-4 mb-3">
                                                        <button id="agregarTag" type="button" onclick="agregartag()"
                                                            class="rounded-circle btn btn-outline-success">+</button>
                                                    </div>
                                                </div>
                                                <div class="col col-12 col-md-8">
                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <input type="text" class="form-control inputs"
                                                                id="tagEspañol" placeholder="Español">
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <input type="text" class="form-control inputs"
                                                                id="tagIngles" placeholder="English">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container boton-footer">
                                            <div class="row justify-content-end">
                                                <button class="btn btn-danger nextBtn" type="button">Siguiente</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row setup-content justify-content-center p-4" id="step-3">
                                   <div class="col-xs-12">
                                    <div class="col-md-12">
                                        <h3 class="text-center">Datastreams</h3></br>
                                        <!-- content go here -->
                                        <div id="dataStreams">
                                        <div class="div-principal" id="dataStream0">
                                                <h2 id="dataStreamH20">Nuevo Datastream</h2> 

                                            <div class="form-row">
                                                <div class="col mb-3">
                                                    <label><strong>Nombre</strong></label>
                                                    <input type="text" class="form-control inputs" name="inputNombre0"
                                                        id="inputNombre0" onchange="changeNameDataStream(this);" placeholder="Nombre" required>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label><strong>Valor maximo</strong></label>
                                                    <input type="text" class="form-control inputs" name="inputValorMaximo0"
                                                        id="inputValorMaximo0" placeholder="Valor Maximo"
                                                         required>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label><strong>Valor minimo</strong></label>
                                                    <input type="text" class="form-control inputs" name="inputValorMinimo0"
                                                        id="inputValorMinimo0" placeholder="Valor Minimo"
                                                       required>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col col-6 col-md-3">
                                                    <label><strong>Unidad</strong></label>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <input type="text" class="form-control inputs" name="inputSimbolo0"
                                                        id="inputSimbolo0" placeholder="Símbolo" 
                                                        value="">
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <input type="text" class="form-control inputs" name="inputEtiqueta0"
                                                        id="inputEtiqueta0" placeholder="Etiqueta" 
                                                        value="">
                                                </div>
                                                <div class="col-md-4 mb-3">

                                                    <input type="text" class="form-control inputs" name="inputTipo0"
                                                        id="inputTipo0" placeholder="Tipo" value="">

                                                </div>
                                            </div>

                                            <div class="form-row" >
                                                <div class="container border rounded-lg" id="tagsDataStream0">

                                                    <div class="row">
                                                        <div class="col-md-4 mb-3 p-2">
                                                            <label ><strong>Añadir tags</strong></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col col-6 col-md-1">
                                                            <div class="row col-md-4 mb-3">
                                                                <button type="button" id="buttonAgregarTagDataStream0" onclick="agregarTagDataStream(this)" 
                                                                    class="rounded-circle btn btn-outline-success">+</button>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="col col-12 col-md-8">
                                                            <div class="row">
                                                                <div class="col-md-6 mb-3">
                                                                    <input type="text" class="form-control inputs"
                                                                        id="inputTagDataStreamEspanol0" placeholder="Español"
                                                                         >
                                                                </div>
                                                                <div class="col-md-6 mb-3">
                                                                    <input type="text" class="form-control inputs"
                                                                        id="inputTagDataStreamIngles0" placeholder="English"
                                                                         >
                                                                </div>
                                                            </div>  
                                                        </div>
                                       
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="container p-3">
                                                <div class="row justify-content-end">
                                                    <button type="button" onclick="agregarDataStream()" class="btn btn-outline-secondary">Añadir otro
                                                        datastream</button>
                                                </div>
                                            </div>
                                        </div>
                                        </div>

                                        <div class="container boton-footer">
                                            <div class="row justify-content-end">
                                                <button class="btn btn-danger btn-lg nextBtn" name="descargarJson" type="submit">Descargar JSON</button>
                                            </div>
                                        </div>
                                        <div class="container boton-footer">
                                            <div class="row justify-content-end">
                                                <button class="btn btn-danger btn-lg nextBtn" name="inicializar" type="submit">Guardar e Inicializar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}