{% extends 'base.html' %}
{% load navBarTags %}
{% block content %}
<div id="wrapper" class="active">
    <!-- Sidebar -->
    {% listarDispositivos %}
    {% include 'navBar.html' with dispositivos=dispositivos %}

    {% load staticfiles %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js\jqueryEstadosDispositivos.js' %}"></script>
    <!-- Fin Navbar -->

    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="fondo"></div>
            <div class="wizard-container">
                <div class="container cont-principal">
                    <div class="card wizard-card justify-content-center">
                        <div class="div-principal">
                            <h1 class="text-center pb-5"> ESTADO </h1>
                            <h4 class="card-title">Estado de los dispositivos </h4>
                            <div class="card-columns">
                                
                                {% for obj in lista %}
                                <a href={% url 'estados' obj.idDisp obj.nombre %}>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <div class="row">
                                                        <div class="col-8">{{ obj.nombre }}</div>
                                                        <div class="col-4">
                                                            <div class="custom-control custom-switch">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    id={{ obj.nombre }}>

                                                                <label class="custom-control-label" for="customSwitch1"></label>
                                                            </div>
                                                        </div>
                                                        <h6 id={{ obj.idDisp }}>Cargando...</h6>
                                                    </div>
                                                </h5>
                                            </div>
                                        </div>
                                </a>
                                {% endfor %}
                                {% for obj in lista %}
                                    <script>handlerConectar('{{ obj.ipDisp }}', '{{ obj.idDisp }}');</script>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}